#map {
	background-color: #ccc;
	display: inline-block;
}
.testSquare {
	display: inline-block;
	width: 20px;
	height: 20px;
	xborder:1px solid rgba(0,0,255,0.15);
}
.testSquare.wall {
	background-color: #111;
}
.wall.nwcorn {
	border-radius: 5px 0 0 0;
}
.wall.necorn {
	border-radius: 0 5px 0 0;
}
.wall.secorn {
	border-radius: 0 0 5px 0;
}
.wall.swcorn {
	border-radius: 0 0 0 5px;
}
.wall.ncap {
	border-radius: 5px 5px 0 0;
}
.wall.ecap {
	border-radius: 0 5px 5px 0;
}
.wall.scap {
	border-radius: 0 0 5px 5px;
}
.wall.wcap {
	border-radius: 5px 0 0 5px;
}
/*
	"1": "wall",
				"2": "wall nwcorn",
				"3": "wall necorn",
				"4": "wall secorn",
				"5": "wall swcorn",
				"6": "wall ncap",
				"7": "wall ecap",
				"8": "wall scap",
				"9": "wall wcap",
				"10": "wall walls_ns",
				"11": "wall walls_ew",
				"12": "wall wall_n",
				"13": "wall wall_e",
				"14": "wall wall_s",
				"15": "wall wall_w"
*/
.testSquare.corridor {
	background-color: #d99;
}